<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="com.aic.common.dao.jdbc.impl.SimpleJdbcTemplateDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean class="com.aic.common.dao.jdbc.impl.SimpleNamedParameterJdbcTemplateDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- spring-jdbc jar is required here -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/test"></property>
	</bean>
	
	<!-- commons-dbcp and commons-pool jars required here -->
	<!-- <bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/test"></property>
	</bean> -->


</beans>